<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Minecraft Items Identifier</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    </head>
    <body>
      <header>
          <div class="skyHeader d-sm-flex flex-row align-items-sm-center flex-nowrap">
            <h1 class = "helloMC offset-1">Hello, Minecrafters!</h1>
            <img src="{{ url_for('static', filename='images/little_mc.gif')}}" alt="minecraft GIF" width="100" height="100">
          </div>
        </header>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Minecraft Item Identifier</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{url_for('home')}}"><img class="nav-item" src="{{ url_for('static', filename='images/enderPearl.png')}}" alt="ender pearl" width="20" height="20">&nbspHome</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('identification')}}"><img src="{{ url_for('static', filename='images/enderPearl.png')}}" alt="ender pearl" width="20" height="20">&nbspIdentification</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('modelinfo')}}"><img class="nav-item" src="{{ url_for('static', filename='images/enderPearl.png')}}" alt="ender pearl" width="20" height="20">&nbspModel Info</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('team')}}"><img class="nav-item" src="{{ url_for('static', filename='images/enderPearl.png')}}" alt="ender pearl" width="20" height="20">&nbspMeet the Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>

      <section class="page-section teamPage" id="portfolio">
        <div class="container">
          <!--Title-->
          <div class="text-center mt-5">
              <h1>Meet our Team</h1>
              <p class="lead">A collaboration of the best has created our team, the Golden Gorillas</p>
          </div>
        </div>
        <!-- Grids -->
        <div class="row">
          <!-- person 1 -->
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content text-center">What do you call a Minecraft celebration? A block party.
                  </div>
                </div>
                <img class="img-fluid" src="{{ url_for('static', filename='images/annaSkin.png')}}" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div><h3> Anna Tang </h3></div>
                <div class="portfolio-caption-subheading text-muted">Gorilla, CV Programmer, AI Camp Student</div>
              </div>
            </div>
          </div>
          <!-- Brayden -->
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">Minecraft ... yes
                  </div>
                </div>
                <img class="img-fluid" src="{{ url_for('static', filename='images/FishyBusiness.png')}}" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div><h3>Brayden Scott</h3></div>
                <div class="portfolio-caption-subheading text-muted">Gorilla, Programmer, Student, "Lad"</div>
              </div>
            </div>
          </div>
          <!-- Carolyn -->
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content text-center">bubbly as dish soap <br> and happy to be here!
                  </div>
                </div>
                <div class="container">
                <img class="img-fluid teamImg" src="{{ url_for('static', filename='images/alexWide.png')}}"  alt="..." />
                </div>
              </a>
              <div class="portfolio-caption">
                <div><h3>Carolyn Conner</h3></div>
                <div class="portfolio-caption-subheading text-muted">Gorilla, Computer Vision Programmer</div>
                <!--help what do we put in role-->
              </div>
            </div>
          </div>
          <!-- person 4 -->
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    I prefer League of Legend <br> but Minecraft is fine too <3
                  </div>
                </div>
                <img class="img-fluid" src="{{ url_for('static', filename='images/omgskin.png')}}" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div><h3>Evelyn Chen</h3></div>
                <div class="portfolio-caption-subheading text-muted">Gorilla, Data Scientist, AI Camp Student</div>
              </div>
            </div>
          </div>
          <!-- person 5 -->
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content text-center"> Art is obsolete now. New technologies are taking over. <br> <br> Captain Teemo On Duty!
                  </div>
                </div>
                <img class="img-fluid" src="{{ url_for('static', filename='images/Jonathan-skin.jpg')}}" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div><h3>Jonathan Vu</h3></div>
                <div class="portfolio-caption-subheading text-muted">Gorilla, CV Programmer, AI Camp Student, Front end developer</div>
              </div>
            </div>
          </div>
          <!-- person 6 -->
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">Challenger in Valorant :>
                  </div>
                </div>
                <img class="img-fluid" src="{{ url_for('static', filename='images/jooyoungsskin.png')}}" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div><h3>Jooyoung Chung</h3></div>
                <div class="portfolio-caption-subheading text-muted">Gorilla, CV Programmer</div>
              </div>
            </div>
          </div>
          <!-- person 7 -->
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">Have a nice day!
                  </div>
                </div>
                <img class="img-fluid" src="{{ url_for('static', filename='images/ryan-skin.png')}}" height="1000" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div><h3>Ryan Qin</h3></div>
                <div class="portfolio-caption-subheading text-muted">Gorilla, Mentor</div>
              </div>
            </div>
          </div>
          <!-- Golden Gorilla -->
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">Ooga Ooga I don't eat banana! Ooga Ooga
                  </div>
                </div>
                <img class="img-fluid" src="{{ url_for('static', filename='images/gorillaForest.png')}}" alt="..." />
              </a>
              <div class="portfolio-caption">
                <div><h3>Golden Gorilla</h3></div>
                <div class="portfolio-caption-subheading text-muted">Team Mascot</div>
              </div>
            </div>
          </div>
        </div>
      </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
